.user__create-address__page
  = render "shared/logo"
  .user__create-address__page__main
    登録が完了しました
    .top-page__link
      = link_to root_path do
        トップページに戻る
  = render "shared/user_footer"