.category-box
  .parent
    - @parents.each do |parent|
      .parent-content
        = parent.name
        .child
          - parent.children.each do |child|
            .child-content
              = child.name
              .grandchild
                - child.children.each do |grandchild|
                  .grandchild-content
                    = grandchild.name