%header
  .header-inner
    .header-inner__box
      %h1.header-innder__box__logo
        %a{href: "#"}
          %img{src: "/assets/logo.png"}/
      .header-inner__box__search
        %form
          %input.header-inner__box__search__input{placeholder: "キーワードから探す"}
          %button{type: "submit"}
            .header-inner__box__search__input__icon
              %img{src: "/assets/icon-search 1.png"}
    .header-inner__nav
      %ul.header-inner__nav__left
        %li.header-inner__nav__left__item
          %a{href: "#"}
            カテゴリー
        %li.header-inner__nav__left__item
          %a{href: "#"}
            ブランド
      %ul.header-inner__nav__right
        %li.header-inner__nav__right__item
          %a{href: "#"}
            ログイン
        %li.header-inner__nav__right__item
          %a{href: "#"}
            新規会員登録