.parent,.child,.grandchild{
  display: none;
}

.new-wrapper__main__input-select {
  @include new-item-select;
}

#category-area{
  cursor: pointer;
  position: relative;
  z-index: 10;
  .category-box{
    position: absolute;
    height: 800px;
    background-color: $white-color;
    .parent,.child,.grandchild{
      box-shadow: 1px 1px 4px;
      height: 100%;
      background-color:$white-color;
      color: black;
    }
    .parent-content,.child-content,.grandchild-content{
      padding: 6px;
      &:hover{
        &:hover{
          background-color: $main-color;
          color: $white-color;
        }
      }
    }
  }
  &:hover{
    .parent{
      display: block;
      .parent-content{
        width: 260px;
        &:hover{
          .child{
            width: 260px;
            display: block;
            position: absolute;
            top: 0;
            left: 259px;
            .child-content{
              display: block;
              &:hover{
                .grandchild{
                  width: 260px;
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 259px;
                }
              }
            }
          }
        }
      }
    }
  }
}