.side-bar{
  float: left;
  width: 300px;
  margin-right: 30px;
  &__navi {
    width: 250px;
    &__list {
      &__menu {
        background-color: white;
        height: 40px;
        margin-bottom: 2px;
        padding-left: 20px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 40px;
        cursor: pointer;
        display: block;
      }
      &__menu:hover {
        background-color: rgb(219, 215, 215);
      }
    }
    &__title {
      margin: 40px 0 5px;
      font-weight: bolder;
    }
  }
}