img.google-play {
  height: 60px;
  width: 176.09px;
}

.main-visual__content__btn,.sub-visual__content__btn {
  display: flex;
  align-items: center;
}

.main-visual {
  height: 560px;
  width: 100%;
  background-image: url("/bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  &__content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    &__title {
      color: #fff;
      font-size: 60px;
      line-height: 1.2;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__text {
      color: #fff;
      font-size: 18px;
      line-height: 1.77778;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin: 16px 0 0 0 ;
    }
  }
}

.cause {
  padding: 60px 20px;
  &__title {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    &::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__list {
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    &__item {
      width: calc(100% / 3);
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__image {
        position: relative;
      }
      &__image img {
        width: 100%;
        vertical-align: bottom;
      }
      &__image__number {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4%;
        font-size: 30px;
        text-align: center;
        margin: 0 5px 0 0;
        padding: 5px 20px;
        background-color: #3CCACE;
        color: #fff;
      }
      &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
      }
      &__title span {
        color: #3CCACE;
      }
      &__text {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
    &__item--last {
      width: calc(100% / 3);
      margin: 16px 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.sub-visual {
  background-image: url("/bg-topMiddleDl-pict.jpg");
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  &__content {
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    &__title {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }
  }
}

.feature {
  padding: 60px 100px;
  background-color: #fff;
  &__title {
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    &::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__item {
    display: flex;
  }
  &__item__list {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    text-align: center;
    padding: 0 20px;
    &__image img {
      width: 100%;
      vertical-align: bottom;
    }
    &__title {
      margin: 38px 0 10px;
      font-size: 19px;
      font-weight: bold;
    }
    &__text {
      margin: 0 0 40px;
      font-size: 17px;
      font-weight: 200;
      text-align: left;
    }
  }
}

.pickup-item {
  padding: 80px 0 80px;
  background-color: #f8f8f8;
  height: 100%;
  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__box__head a {
    color: #3CCACE;
    text-decoration: none;
  }
  &__box__head__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  &__box__list__item a {
    text-decoration: none;
  }
  &__box__list__item {
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
    &__image img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: auto;
      height: 150px;
      object-fit: cover;
    }
    &__image {
      width: 220px;
      height: 150px;
      position: relative;
      overflow: hidden;
      margin: 0;
      z-index: auto;
      background-color: #fff;
    }
    &__body {
      background-color: white;
      color: #333;
      padding: 16px;
      &__name {
        overflow: hidden;
        line-height: 1.5;
        font-size: 16px;
        text-align: left;
      }
      &__detail ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__detail p {
        font-size: 10px;
        text-align: left;
      }
    }
  }
}