.card-main {
  @include main-bar;
  .registration-title {
    @include card-title;
  }
  .registration-box {
    background-color: $white-color;
    padding: 50px 50px;
    &__form {
      width: 400px;
      margin: 0 auto;
      .card-input {
        display: flex;
        padding: 5px 0;
        .card-number {
          margin-right: 10px;
        }
        .repuired {
          background-color: $main-color;
          color: $white-color;
          padding: 0 5px;
        }
      }
      .number-input {
        width: 400px;
        height: 50px;
      }
      .credit-card {
        padding: 5px 0;
        display: flex;
        &__card-list {
          margin-right: 10px;
        }
      }
      .card-data {
        display: flex;
        padding: 5px 0;
        .expiration {
          margin-right: 10px;
        }
        .repuired {
          background-color: $main-color;
          color: $white-color;
          padding: 0 5px;
        }
      }
      .date {
        margin-bottom: 20px;
        #expiration_month {
          width: 150px;
          height: 50px;
          margin-right: 10px;
        }
        #expiration_year {
          width: 150px;
          height: 50px;
          margin-right: 10px;
        }
      }
      .card-security {
        margin-bottom: 10px;
        display: flex;
        .security-code {
          margin-right: 10px;
        }
        .repuired {
          background-color: $main-color;
          color: $white-color;
          padding: 0 5px;
        }
      }
      .security-input {
        width: 400px;
        height: 50px;
      }
      .card-info {
        display: block;
        text-align: right;
        color: red;
        cursor: pointer;
        margin-bottom: 20px;
      }
      .submit-btn {
        width: 400px;
        height: 50px;
        background-color: $main-color;
        color: $white-color;
        cursor: pointer;
      }
    }
  }
}

.credit_card__list {
  @include main-bar;
  &__title {
    @include card-title;
  }
  &__frame {
    background-color: $white-color;
    padding: 50px 50px;
  }
  .credit_card_info {
    width: 400px;
    margin: 0 auto;
  }
  .expiration_date {
    margin-bottom: 20px;
  }
  .destroy__function__link {
    width: 400px;
    height: 50px;
    background-color: $main-color;
    cursor: pointer;
    text-align: center;
    .destroy__btn {
      color: $white-color;
      line-height: 50px;
    }
  }
}