@mixin user-page__wrapper {
  width: 100vw;
  background-color: #F6F6F6;
  position: relative;
}

@mixin logo {
  padding: 40px;
  text-align: center;
}

@mixin user-page__main {
  margin: 0 auto;
  background-color: #FFFFFF;
  width: 600px;
}

@mixin footer {
  & .footer {
    text-align: center;
    font-size: 12px;
    background-color: #F6F6F6;

    &__top {
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      width: 600px;
      margin-top: 100px;

      & a {
        color: #000000;
        text-decoration: none;
      }
    }

    &__copyright {
      padding: 30px 0;
    }
  }
}

@mixin content-border {
  padding: 30px 0;
  border-bottom: 1px solid #F6F6F6;
}

@mixin content {
  width: 70%;
  margin: 0 auto;
}

@mixin link-block {
  @include content;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;

  & a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
  }
}

@mixin input-box {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  outline: none;
  margin: 5px 0;
}

@mixin input-box__medium {
  @include input-box;
  width: 48%;
}

@mixin input-box__small {
  @include input-box;
  width: 25%;
}
@mixin require_arbitary {
  font-size: 12px;
  border-radius: 3px;
  padding: 3px 5px;
  color: #FFFFFF;
  text-align: center;
}
@mixin require {
  @include require_arbitary;
  background-color: #2BCCD1;
}

@mixin arbitrary {
  @include require_arbitary;
  background-color: #A0A0A0;
}
@mixin submit-btn {
  background-color: #2BCCD1;
  height: 50px;
  width: 100%;
  margin: 50px 0;
  color: #FFFFFF;
  font-size: 15px;
}