.login-page {
  @include user-page__wrapper;

  & .logo {
    @include logo;
  }

  & .main-block {
    @include user-page__main;
    text-align: center;
    &__top {
      @include content-border;

      .new-registration__link {
        @include link-block;
        background-color: #0090FF;
        margin-top: 5px;
      }
    }

    &__login-form {
      padding-top: 40px;
      @include content;
      display: flex;
      flex-direction: column;

      &__email {
        @include input-box;
      }

      &__password {
        @include input-box;
      }
      
      &__login-btn {
        @include submit-btn;
      }
    }
  }
  @include footer;
}