.user__create-address__page {
  @include user-page__wrapper;
  height: 100vh;
  text-align: center;
  font-size: 18px;

  & .logo {
    @include logo;
  }

  &__main {
    width: 600px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;

    & a {
      text-decoration: none;
    }
    
  }
  @include footer;
}