@mixin main-bar {
  float: left;
  width: calc(100% - 360px);
  max-width: 100%;
  min-width: 250px;
}

@mixin mypage-tabs {
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}

@mixin mypage-tab-active ($size) {
  border-top: 2px solid red;
  width: calc(100% / #{$size});
  background-color: white;
  &:hover {
    color: rgb(100, 99, 99);
  }
}

@mixin mypage-tab ($size) {
  width: calc(100% / #{$size});
  background-color: rgb(219, 217, 217);
  &:hover {
    color: rgb(100, 99, 99);
  }
}

@mixin mypage-panel-show {
  background-color: $white-color;
  display: block;
  min-height: 200px;
  height: 200px;
}

@mixin mypage-panel {
  background-color: rgb(219, 217, 217);
  display: none;
}